@model List<Homemade.Models.EntityModels.Product>

@{
    ViewBag.Title = "Products";
}

@section scripts
{
    <script src="~/Content/Scripts/addtocart.js"></script>
}

<h2>Products</h2>

<table class="table">
    @foreach (var product in Model)
    {
        <tr>
            <td>
                @product.Name (@product.Category)
            </td>
            <td>
                @product.Producer
            </td>
            <td>
                @product.Quantity
            </td>
            <td>
                @product.Price
            </td>
            <td>
                <button class="btn btn-success" onclick="addItem(@product.Id)">
                    Add To Cart
                </button> 
            </td>
        </tr>
    }
</table>
@*https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/sorting-filtering-and-paging-with-the-entity-framework-in-an-asp-net-mvc-application*@
